@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue-Bold";
  src: url("../../public/Fonts/ppneuemontreal-bold.otf") format("woff2");
}

@font-face {
  font-family: "Neue-Regular";
  src: url("../../public/Fonts/ppneuemontreal-book.otf") format("woff2");
}

@font-face {
  font-family: "Neue-Medium";
  src: url("../../public/Fonts/ppneuemontreal-medium.otf") format("woff2");
}

@font-face {
  font-family: "Neue-Light";
  src: url("../../public/Fonts/ppneuemontreal-thin.otf") format("woff2");
}

.neue {
  font-family: "Neue-Regular";
  font-weight: 400;
  font-style: normal;
}

.neue::placeholder {
  font-family: "Neue-Regular";
  font-weight: 400;
  font-style: normal;
  color: #a1a1aa; /* Dodajte željeno barvo za placeholder */
}

.neue-bold {
  font-family: "Neue-Bold";
  font-weight: 700;
  font-style: normal;
}

.neue-semi-bold {
  font-family: "Neue-Medium";
  font-weight: 500;
  font-style: normal;
}

html {
  background-color: white;
}
body {
  margin: 0;
  background-color: white;
  z-index: 10;
}

.hero-main {
  width: 100%;
  height: 90vh;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-div {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaded-name {
  font-family: "Neue-Medium";
  font-weight: 400;
  font-style: normal;
  font-size: clamp(4.5rem, 3.1883rem + 7.7729vw, 15.625rem);

  display: inline-block;
  position: relative;
  margin: 0;
}

.loaded-name span {
  display: inline-block;
  position: relative;
  transform: translateY(0%);
}

.after-loaded-name {
  font-family: "Neue-Medium";
  font-weight: 400;
  font-style: normal;
  font-size: clamp(4.5rem, 3.1883rem + 7.7729vw, 15.625rem);

  display: inline-block;
  position: relative;
  margin: 0;
  color: white;
}

.after-loaded-name span {
  display: inline-block;
  position: relative;
}

.loaded-name-wrapper {
  overflow: hidden;
}

.hero-img-holder {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero-img-wrapper {
  width: 0%;
  height: 80%;
  overflow: hidden; /* Ensures any overflow is hidden */
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire div */
  object-position: center;
  transform: scale(1);
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.afterload-name-wrapper {
  z-index: 2;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-bottom: 3rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tmp {
  height: 100vh;
}

.stats-main {
  padding-top: 7rem;
}

.stats-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.stats-left {
  width: 50%;
}

.stats-right {
  width: 50%;
}

.message {
  font-family: "Neue-Regular";
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 24px;
  line-height: 1.3em;
  margin: 0;
}

.orange {
  color: #f06e00;
}

.message-wrapper {
  max-width: 20rem;
}

.info-header {
  font-family: "Neue-Regular";
  font-weight: 600;
  font-style: normal;
  color: black;
  font-size: 60px;
  line-height: 1.1em;
  margin: 0;
}

.mtb {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.mt {
  margin-top: 1rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #999;
}

.stats-table {
  margin-top: 3rem;
}

.stat-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stat-left {
  font-family: "Neue-Regular";
  font-weight: 400;
  font-style: normal;
  color: #999;
  font-size: 18px;
}

.stat-right {
  font-family: "Neue-Regular";
  font-weight: 400;
  font-style: normal;
  color: #999;
  font-size: 18px;
}

.op0 {
  opacity: 0;
}

.hiddenw {
  overflow: hidden;
}

.res-now-row {
  display: flex;
  margin-top: 4rem;
  cursor: pointer;
}

.res-now-contact {
  display: flex;
  margin-top: 2rem;
  cursor: pointer;
}

.res-now-booking {
  display: flex;
  margin-top: 0rem;
  cursor: pointer;
}

.res-p:hover {
  color: #f06e00;
}

.arrow-r {
  margin-left: 2px;
  transition: all 0.3s ease;
}

.res-now-contact:hover .arrow-r {
  margin-left: 12px;
}

.res-now-booking:hover .arrow-r {
  margin-left: 12px;
}

.hover-button:hover .arrow-r {
  margin-left: 12px;
}

.hover-button:hover .res-p {
  color: #f06e00;
}

.res-p {
  font-family: "Neue-Medium";
  font-weight: 400;
  font-style: normal;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
}

.res-p:hover {
  color: #f06e00;
}

.arrow-r {
  margin-left: 2px;
  transition: all 0.3s ease;
}

.res-now-row:hover .arrow-r {
  margin-left: 12px;
}

.grid-main {
  padding-top: 7rem;
}

.grid-wrapper {
  width: 80%;
  margin: 0 auto;
}

.bento-grid {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.bento-item {
  position: relative;
  overflow: hidden;
}

.item1 {
  grid-area: 1 / 1 / 2 / 2;
}

.item2 {
  grid-area: 1 / 2 / 2 / 4;
}

.item3 {
  grid-area: 2 / 1 / 3 / 3;
}

.item4 {
  grid-area: 2 / 3 / 4 / 4;
}

.item5 {
  grid-area: 3 / 1 / 4 / 2;
}

.item6 {
  grid-area: 3 / 2 / 4 / 3;
}

.bento-img {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  position: relative;
  height: 25rem;
}

.higher {
  height: calc(50rem + 20px);
}

.descriptions-under {
  display: flex;
  padding-top: 7rem;
}

.desc-left {
  width: 40%;
}

.desc-righr {
  width: 50%;
}

.food-main {
  padding-top: 7rem;
}

.food-wrapper {
  width: 100%;
}

.food-img {
  width: 100%;
}

.this-swiper {
  transform: translateX(30%);
  cursor: grab;
}

.food-wrapper {
  overflow: hidden;
}

.vizija-main {
  padding-top: 7rem;
}

.vizija-wrapper {
  width: 80%;
  margin: 0 auto;
}

.paragraphs-row {
  display: flex;
}

.paragraphs-left {
  width: 40%;
}

.paragraphs-right {
  width: 40%;
  margin-left: 3rem;
}

.sticky-main {
  padding-top: 7rem;
}

.sticky-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}

.hill-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.res-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rezervacija-row {
  display: flex;
  width: 100%;
  padding-top: 7rem;
  gap: 1rem; /* Add a 1 rem gap between the cells */
}

.rezervacija-cell {
  flex: 1;
  overflow: hidden;
  transition: flex 0.9s ease;
  cursor: pointer;
  position: relative;
  height: 40vh; /* Set a fixed height to prevent growth in height on hover */
}

.rezervacija-cell:hover {
  flex: 1.5; /* Increase the flex value to make the cell wider on hover */
}

.za-p {
  z-index: 3;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: "Neue-Medium";
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 48px;
  line-height: 1.3em;
  margin: 0;
}

.reservations {
  z-index: 10;
}

.footer-main {
  padding-top: 7rem;
}

.footer-wrapper {
  width: 100%;
  height: 30vh;
  background-color: #f06e00;
}

.thisstupis {
  z-index: 10;
  margin-bottom: 400px;
  position: relative;
  background-color: white;
}

footer {
  width: 100%;
  height: 400px;
  background: #f06e00;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  z-index: 0;
}

.footer-main {
  width: 100%;
  height: 400px;
  background-color: #f06e00;
}

.resser {
  z-index: 10;
}

.footer-sec {
  width: 100%;
  height: 400px;
  z-index: 0;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.hei {
  height: 80px;
}

.ws {
  width: 200px;
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.reservations {
  padding-bottom: 7rem;
}

.first-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rights {
  font-family: "Neue-Regular";
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
  line-height: 1.3em;
}

.socials {
  margin-right: 64px;
}

.gray-text {
  color: #999;
}

.gray-border {
  border: 1px solid #999;
}

.orange {
  color: #f06e00;
}

.testimonial-wrapper-padding {
  padding: 0rem;
}

.testimonial-gap {
  column-gap: 2rem;
}

.tabs-trigger {
  border-right: 1px solid #999; /* Default border color */
}

.tabs-trigger:last-child {
  border-right: none; /* Remove border for the last child */
}

.tabs-trigger:hover {
  background-color: #f7f7f7;
}

.tabs-trigger[data-state="active"] {
  /*border-top: 1px solid #999;  Active state */
  background-color: #f7f7f7;
}

.mbottom {
  margin-bottom: 4rem;
}

.testimonial-holder-padding {
  padding: 1rem;
}

.my-custom-border {
  border: 1px solid #e7e7e7;
}

.relative-position {
  position: relative;
}

.background-active {
  background-color: black;
}

.background-inactive {
  background-color: #999;
}

.marginlr {
  margin-left: 3px;
  margin-right: 3px;
}

.heightname {
  height: 70vh;
}

.rotate {
  transform: rotate(-90deg);
}

.paddingtopbotton {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gray-bold {
  color: #a3a3a3;
}

.clamp-category {
  font-size: clamp(1rem, 0.6463rem + 2.0961vw, 4rem);
}

.p-6 {
  padding: 24px;
}

.gap-8 {
  gap: 100px;
  row-gap: 40px;
}

.food-name-font {
  font-size: 24px;
}

.pb {
  padding-bottom: 16px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 64px;
}

.gap-16 {
  gap: 16px;
}

.ml-2 {
  margin-left: 8px;
}

.language-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 50;
  border-radius: 32px;

  background-color: rgb(255, 255, 255);
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  /* Optional: Smooth Transition for Hover Effects */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.flag-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.flag {
  width: 42px;
}

.relative-flex {
  position: relative;
  width: auto;
  display: inline-flex;
}

.mobile-menu {
  position: absolute;
  bottom: 100%;
  right: 0;
  border-radius: 10px;
  z-index: 50;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  transform-origin: bottom right;
  background-color: white;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mobilemenu-flex {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.gap-x-12 {
  column-gap: 48px;
}

.mbdesktop {
  margin-bottom: 3rem;
}

.mtop {
  margin-top: 3rem;
}

.iframe-size {
  height: 516px;
  object-fit: cover;
  width: 100%;
}

.max-w-lg {
  max-width: 1080px;
}

.my {
  margin-top: 15%;
  margin-bottom: 15%;
}

.ml {
  margin-left: 10%;
  margin-bottom: 3rem;
}

.bigger-text {
  font-size: 80px;
}

.max-h-small {
  height: 345px;
}

.max-h-big {
  height: 520px;
}

.relative {
  position: relative;
}

.row-gaap {
  row-gap: 3rem;
}

.mb2 {
  margin-bottom: 0.25rem;
}

.mb4 {
  margin-bottom: 3rem;
}

.mb3 {
  margin-bottom: 0.75rem;
}

.tey {
  font-size: 48px;
}

.small-gap {
  gap: 4px;
}

.w2 {
  width: 24px;
}

.i4ewOd-pzNkMb-haAclf {
  display: none !important;
}

.whiteoverflow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
}

.flexx {
  display: flex;
  flex-direction: row;
}

.opacity-100 {
  opacity: 1;
}

.opacity-25 {
  opacity: 0.25;
}

.break-inside-avoid {
  break-inside: avoid;
}

.end {
  align-items: end;
}

.pys {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sticky-item-grid-4 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  width: 100%;
}

.max-w-xxl {
  max-width: 1080px;
}

.z-10 {
  z-index: 10;
}

.bg-white {
  background-color: white;
}

.w-full {
  width: 100%;
}

.underlinenone {
  text-decoration: none;
}

@media (max-width: 1600px) {
  .sticky-item-grid-4 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .footer-main {
    padding-top: 4rem;
  }

  .socials {
    margin-right: 0px;
  }

  .sticky-main {
    padding-top: 3rem;
  }

  .za-p {
    z-index: 3;
    position: absolute;
    left: 8px;
    bottom: 8px;
    font-family: "Neue-Medium";
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
    line-height: 1.3em;
    margin: 0;
  }

  .rezervacija-row {
    display: flex;
    width: 100%;
    padding-top: 4rem;
    flex-direction: column;
  }

  .paragraphs-row {
    display: flex;
    flex-direction: column;
  }

  .paragraphs-left {
    width: 100%;
  }

  .paragraphs-right {
    width: 100%;
    margin-left: 0rem;
  }
  .vizija-wrapper {
    width: 90%;
  }
  .vizija-main {
    padding-top: 4rem;
  }
  .food-main {
    padding-top: 4rem;
  }

  .desc-left {
    width: 100%;
    display: none;
  }

  .desc-righr {
    width: 100%;
  }

  .descriptions-under {
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
  }

  .bento-grid {
    flex-flow: column;
    display: flex;
  }

  .grid-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .grid-main {
    padding-top: 4rem;
  }

  .res-now-row {
    margin-top: 2.5rem;
  }

  .stat-left {
    font-family: "Neue-Regular";
    font-weight: 400;
    font-style: normal;
    color: #999;
    font-size: 16px;
  }

  .stat-right {
    font-family: "Neue-Regular";
    font-weight: 400;
    font-style: normal;
    color: #999;
    font-size: 16px;
  }

  .res-p {
    font-size: 16px;
  }

  .stats-table {
    margin-top: 2rem;
  }

  .info-header {
    font-size: 48px;
  }

  .message {
    font-size: 21px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .hero-img-holder {
    height: 70vh;
    margin-top: 48px;
  }

  .hero-main {
    height: 70vh;
    margin-top: 48px;
  }

  .stats-main {
    padding-top: 4rem;
  }

  .stats-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .stats-left {
    width: 100%;
  }

  .stats-right {
    width: 100%;
  }
}

.desktop-row {
  display: flex;
  flex-direction: row;
}

.pb16 {
  padding-bottom: 7rem;
}

.order {
  order: 2;
}

.order-reverse {
  order: 1;
}

.test18 {
  column-gap: 32px;
  columns: 3;
}

.uncommon-p {
  padding-top: 0rem;
}

.uncommon-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0rem;
}

.sticky {
  position: sticky;
}

.sticky-text {
  position: sticky;
  top: 0px;
  row-gap: 0px;
}

.text-flex {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.stickycarousel {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: start;
  background-color: #fbfbfb;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: 100vh;
}

.mr-text {
  margin-right: 5rem;
  margin-left: 5vw;
  margin-right: 5%;
  max-width: 35rem;
}

.imgh {
  height: 80vh;
  overflow: hidden;
}

.hidden-image {
  display: block;
}

@media (max-width: 992px) {
  .sticky-item-grid-4 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
  }
  .mr-text {
    margin-right: 3rem;
  }
  .pb16 {
    padding-bottom: 6rem;
  }

  .test18 {
    column-gap: 32px;
    columns: 2;
  }
}

@media (max-width: 768px) {
  .hidden-image {
    display: none;
  }

  .sticky-item-grid-4 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
  }

  .mr-text {
    margin-right: 0rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .stickycarousel {
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text-flex {
    display: flex;
    flex-direction: row;
    height: auto;
    flex-direction: column;
  }
  .sticky-text {
    position: static;
  }

  .uncommon-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 4rem;
  }

  .uncommon-p {
    padding-top: 6rem;
  }

  .test18 {
    column-gap: 32px;
    columns: 1;
  }

  .flexx {
    display: flex;
    flex-direction: column;
  }
  .order-reverse {
    order: 2;
  }
  .order {
    order: 1;
  }
  .pb16 {
    padding-bottom: 4rem;
  }

  .testimonial-wrapper-padding {
    padding: 0rem;
  }

  .margintop-tabs {
    margin-top: 2rem;
  }

  .mbottom {
    margin-bottom: 1.25rem;
  }

  .my-custom-border {
    border: 0px solid #e7e7e7;
  }

  .testimonial-holder-padding {
    padding: 0rem;
  }

  .gap-8 {
    gap: 32px;
  }

  .language-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 50;
    border-radius: 32px;
  }

  .gap-x-12 {
    column-gap: 32px;
  }

  .iframe-size {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }

  .ml {
    margin-left: 0%;
    margin-bottom: 3rem;
  }

  .bigger-text {
    font-size: 40px;
  }

  .gap-4 {
    gap: 24px;
  }
}

@media (max-width: 420px) {
  .ws {
    width: 120px;
  }
}

@media (max-width: 300px) {
  .flexy {
    flex-direction: column;
  }
}
